.items-container {
  flex: 1 0 auto;
}

.new-item {
  display: flex;
}

.new-item input {
  flex: 1 0 auto;
  margin-right: 8px;
}

.items-list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
